


<%- include ../partials/header.ejs %>
<title>Rental Car Form</title>
</head>
<body ng-controller="FormController as ctrl">
	<%- include ../partials/nav.ejs %>
	<div class="container">
		<h1>Login</h1><br>
		<form  action="/sessions/login" method="POST">
			<input class="form-control" type="text" name="username" placeholder="Username"><br>
			<input class="form-control" type="password" name="password" placeholder="Password"><br>
			<button type="submit" class="btn btn-danger">Login</button>
		</form>
	</div>

	<% if (message) { %>

	<%= message %>

	<% } %>
</body>
</html>