<br>
<br>
<br>
<form action="/sessions/register" method="POST">
   <input type="text" name="username" value="">
   <input type="password" name="password" value="">
   <button>Register</button>
</form>
<%= message %><br>

Already have an account? <a href="/sessions/login">Log In!</a>


